.elementor-2447 .elementor-element.elementor-element-6171bb2>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2447 .elementor-element.elementor-element-6171bb2 {
    padding: 10px 30px 10px 30px;
}

.elementor-2447 .elementor-element.elementor-element-7279109>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2447 .elementor-element.elementor-element-85e5f2d .elementor-icon-list-icon i {
    color: #000000;
}

.elementor-2447 .elementor-element.elementor-element-85e5f2d .elementor-icon-list-icon svg {
    fill: #000000;
}

.elementor-2447 .elementor-element.elementor-element-85e5f2d .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var( --e-global-color-primary_hover);
}

.elementor-2447 .elementor-element.elementor-element-85e5f2d .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary_hover);
}

.elementor-2447 .elementor-element.elementor-element-85e5f2d {
    --e-icon-list-icon-size: 16px;
}

.elementor-2447 .elementor-element.elementor-element-85e5f2d .elementor-icon-list-icon {
    transform: rotate(0deg);
}

.elementor-2447 .elementor-element.elementor-element-85e5f2d .elementor-icon-list-items .elementor-icon-list-item .elementor-icon-list-text {
    color: var( --e-global-color-text_lighter);
}

.elementor-2447 .elementor-element.elementor-element-85e5f2d .elementor-icon-list-items .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-primary_hover);
}

.elementor-2447 .elementor-element.elementor-element-85e5f2d .elementor-icon-list-text {
    padding-left: 5px;
}

.elementor-2447 .elementor-element.elementor-element-85e5f2d .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2447 .elementor-element.elementor-element-85e5f2d .elementor-icon-list-item>a {
    font-family: "Autofiix", Sans-serif;
    font-size: 14px;
}

.elementor-2447 .elementor-element.elementor-element-57fcd71>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-icon i {
    color: #9292926B;
}

.elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-icon svg {
    fill: #9292926B;
}

.elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var( --e-global-color-primary_hover);
}

.elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary_hover);
}

.elementor-2447 .elementor-element.elementor-element-775e1c4 {
    --e-icon-list-icon-size: 16px;
}

.elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-icon {
    transform: rotate(0deg);
}

.elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-items .elementor-icon-list-item .elementor-icon-list-text {
    color: var( --e-global-color-text_lighter);
}

.elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-text {
    padding-left: 0px;
}

.elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2447 .elementor-element.elementor-element-775e1c4 .elementor-icon-list-item>a {
    font-family: "Autofiix", Sans-serif;
    font-size: 14px;
}

.elementor-2447 .elementor-element.elementor-element-8984b1a>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2447 .elementor-element.elementor-element-8984b1a:not(.elementor-motion-effects-element-type-background),
.elementor-2447 .elementor-element.elementor-element-8984b1a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-accent);
}

.elementor-2447 .elementor-element.elementor-element-8984b1a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 30px 30px 30px;
}

.elementor-2447 .elementor-element.elementor-element-8984b1a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2447 .elementor-element.elementor-element-d5f8bbf>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2447 .elementor-element.elementor-element-1e84543 .hfe-site-logo-container,
.elementor-2447 .elementor-element.elementor-element-1e84543 .hfe-caption-width figcaption {
    text-align: center;
}

.elementor-2447 .elementor-element.elementor-element-1e84543 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-2447 .elementor-element.elementor-element-1e84543 .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-2447 .elementor-element.elementor-element-aa69ce4.elementor-column>.elementor-widget-wrap {
    justify-content: space-evenly;
}

.elementor-2447 .elementor-element.elementor-element-aa69ce4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2447 .elementor-element.elementor-element-aa69ce4>.elementor-element-populated {
    padding: 0px 30px 0px 30px;
}

.elementor-2447 .elementor-element.elementor-element-01bd41e {
    --icon-box-icon-margin: 10px;
    width: auto;
    max-width: auto;
}

.elementor-2447 .elementor-element.elementor-element-01bd41e .elementor-icon {
    font-size: 40px;
}

.elementor-2447 .elementor-element.elementor-element-01bd41e .elementor-icon-box-title {
    margin-bottom: 0px;
    color: var( --e-global-color-text_lighter);
}

.elementor-2447 .elementor-element.elementor-element-01bd41e .elementor-icon-box-title,
.elementor-2447 .elementor-element.elementor-element-01bd41e .elementor-icon-box-title a {
    font-family: "Autofiix", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-2447 .elementor-element.elementor-element-01bd41e .elementor-icon-box-description {
    color: var( --e-global-color-primary);
    font-family: "Autofiix Heading", Sans-serif;
    font-weight: 600;
}

.elementor-2447 .elementor-element.elementor-element-4040c51 {
    --icon-box-icon-margin: 10px;
    width: auto;
    max-width: auto;
}

.elementor-2447 .elementor-element.elementor-element-4040c51 .elementor-icon {
    font-size: 40px;
}

.elementor-2447 .elementor-element.elementor-element-4040c51 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: var( --e-global-color-text_lighter);
}

.elementor-2447 .elementor-element.elementor-element-4040c51 .elementor-icon-box-title,
.elementor-2447 .elementor-element.elementor-element-4040c51 .elementor-icon-box-title a {
    font-family: "Autofiix", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-2447 .elementor-element.elementor-element-4040c51 .elementor-icon-box-description {
    color: var( --e-global-color-primary);
    font-family: "Autofiix Heading", Sans-serif;
    font-weight: 600;
}

.elementor-2447 .elementor-element.elementor-element-b5b827d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2447 .elementor-element.elementor-element-1cae3dc {
    color: #FFFFFF;
    font-family: "Autofiix", Sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.elementor-2447 .elementor-element.elementor-element-786b256 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(2px/2);
}

.elementor-2447 .elementor-element.elementor-element-786b256 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(2px/2);
}

.elementor-2447 .elementor-element.elementor-element-786b256 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(2px/2);
    margin-left: calc(2px/2);
}

.elementor-2447 .elementor-element.elementor-element-786b256 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-2px/2);
    margin-left: calc(-2px/2);
}

body.rtl .elementor-2447 .elementor-element.elementor-element-786b256 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-2px/2);
}

body:not(.rtl) .elementor-2447 .elementor-element.elementor-element-786b256 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-2px/2);
}

.elementor-2447 .elementor-element.elementor-element-786b256 .elementor-icon-list-icon i {
    color: #FCD50C;
}

.elementor-2447 .elementor-element.elementor-element-786b256 .elementor-icon-list-icon svg {
    fill: #FCD50C;
}

.elementor-2447 .elementor-element.elementor-element-786b256 {
    --e-icon-list-icon-size: 14px;
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-2447 .elementor-element.elementor-element-786b256 .elementor-icon-list-icon {
    transform: rotate(0deg);
}

.elementor-2447 .elementor-element.elementor-element-786b256 .elementor-icon-list-text {
    padding-left: 0px;
}

.elementor-2447 .elementor-element.elementor-element-a53f4c2 {
    color: var( --e-global-color-text_lighter);
    font-family: "Autofiix", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-2447 .elementor-element.elementor-element-da964ba>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2447 .elementor-element.elementor-element-da964ba {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 0px 30px 0px 30px;
}

.elementor-2447 .elementor-element.elementor-element-e9414f9>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2447 .elementor-element.elementor-element-be9096b .main-navigation {
    text-align: left;
}

.elementor-2447 .elementor-element.elementor-element-be9096b .main-navigation ul.menu>li.menu-item>a {
    padding: 21px 32px 21px 32px;
}

.elementor-2447 .elementor-element.elementor-element-be9096b>.elementor-widget-container {
    padding: 0px 0px 0px 26px;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: var( --e-global-color-border);
}

.elementor-2447 .elementor-element.elementor-element-460dde4 .hfe-site-logo-container,
.elementor-2447 .elementor-element.elementor-element-460dde4 .hfe-caption-width figcaption {
    text-align: center;
}

.elementor-2447 .elementor-element.elementor-element-460dde4 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-2447 .elementor-element.elementor-element-460dde4 .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-2447 .elementor-element.elementor-element-b50465c .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-2447 .elementor-element.elementor-element-b50465c .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-2447 .elementor-element.elementor-element-b50465c .elementor-button .elementor-button-icon i {
    font-size: 25px;
}

.elementor-2447 .elementor-element.elementor-element-b50465c .elementor-button {
    fill: #000000;
    color: #000000;
    padding: 0px 0px 0px 0px;
}

.elementor-2447 .elementor-element.elementor-element-b50465c>.elementor-widget-container {
    padding: 0px 0px 3px 0px;
}

.elementor-2447 .elementor-element.elementor-element-b50465c {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-2447 .elementor-element.elementor-element-8e24c5a.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-2447 .elementor-element.elementor-element-8e24c5a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2447 .elementor-element.elementor-element-5ed1eae .elementor-button {
    padding: 22.5px 33px 22.5px 33px;
}

.elementor-2447 .elementor-element.elementor-element-5ed1eae {
    width: auto;
    max-width: auto;
}

@media(max-width:1200px) {
    .elementor-2447 .elementor-element.elementor-element-01bd41e .elementor-icon {
        font-size: 36px;
    }
    .elementor-2447 .elementor-element.elementor-element-4040c51 .elementor-icon {
        font-size: 36px;
    }
    .elementor-2447 .elementor-element.elementor-element-be9096b .main-navigation ul.menu>li.menu-item>a {
        padding: 21px 20px 21px 20px;
    }
    .elementor-2447 .elementor-element.elementor-element-5ed1eae .elementor-button {
        padding: 22.5px 25px 22.5px 25px;
    }
}

@media(min-width:768px) {
    .elementor-2447 .elementor-element.elementor-element-d5f8bbf {
        width: 29%;
    }
    .elementor-2447 .elementor-element.elementor-element-aa69ce4 {
        width: 54.282%;
    }
    .elementor-2447 .elementor-element.elementor-element-b5b827d {
        width: 16%;
    }
    .elementor-2447 .elementor-element.elementor-element-e9414f9 {
        width: 74.419%;
    }
    .elementor-2447 .elementor-element.elementor-element-8e24c5a {
        width: 25.505%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2447 .elementor-element.elementor-element-d5f8bbf {
        width: 22%;
    }
    .elementor-2447 .elementor-element.elementor-element-aa69ce4 {
        width: 56%;
    }
    .elementor-2447 .elementor-element.elementor-element-b5b827d {
        width: 22%;
    }
    .elementor-2447 .elementor-element.elementor-element-e9414f9 {
        width: 50%;
    }
    .elementor-2447 .elementor-element.elementor-element-8e24c5a {
        width: 50%;
    }
}

@media(max-width:880px) and (min-width:768px) {
    .elementor-2447 .elementor-element.elementor-element-d5f8bbf {
        width: 100%;
    }
    .elementor-2447 .elementor-element.elementor-element-aa69ce4 {
        width: 60%;
    }
    .elementor-2447 .elementor-element.elementor-element-b5b827d {
        width: 40%;
    }
}

@media(max-width:1024px) {
    .elementor-2447 .elementor-element.elementor-element-8984b1a {
        padding: 10px 30px 10px 30px;
    }
    .elementor-2447 .elementor-element.elementor-element-aa69ce4>.elementor-element-populated {
        padding: 0px 15px 0px 15px;
    }
    .elementor-2447 .elementor-element.elementor-element-01bd41e .elementor-icon {
        font-size: 24px;
    }
    .elementor-2447 .elementor-element.elementor-element-01bd41e .elementor-icon-box-title,
    .elementor-2447 .elementor-element.elementor-element-01bd41e .elementor-icon-box-title a {
        font-size: 14px;
    }
    .elementor-2447 .elementor-element.elementor-element-01bd41e .elementor-icon-box-description {
        font-size: 14px;
    }
    .elementor-2447 .elementor-element.elementor-element-4040c51 .elementor-icon {
        font-size: 24px;
    }
    .elementor-2447 .elementor-element.elementor-element-4040c51 .elementor-icon-box-title,
    .elementor-2447 .elementor-element.elementor-element-4040c51 .elementor-icon-box-title a {
        font-size: 14px;
    }
    .elementor-2447 .elementor-element.elementor-element-4040c51 .elementor-icon-box-description {
        font-size: 14px;
    }
    .elementor-2447 .elementor-element.elementor-element-b5b827d.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-2447 .elementor-element.elementor-element-1cae3dc {
        text-align: right;
    }
    .elementor-2447 .elementor-element.elementor-element-b99dacd {
        width: auto;
        max-width: auto;
    }
    .elementor-2447 .elementor-element.elementor-element-460dde4 .hfe-site-logo .hfe-site-logo-container img {
        width: 200px;
    }
    .elementor-2447 .elementor-element.elementor-element-460dde4>.elementor-widget-container {
        margin: 0px -100px 0px 0px;
    }
    .elementor-2447 .elementor-element.elementor-element-460dde4 {
        width: auto;
        max-width: auto;
    }
}

@media(max-width:880px) {
    .elementor-2447 .elementor-element.elementor-element-aa69ce4.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-2447 .elementor-element.elementor-element-aa69ce4>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2447 .elementor-element.elementor-element-01bd41e>.elementor-widget-container {
        margin: 0px 30px 0px 0px;
    }
    .elementor-2447 .elementor-element.elementor-element-da964ba {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2447 .elementor-element.elementor-element-e9414f9.elementor-column>.elementor-widget-wrap {
        justify-content: space-between;
    }
    .elementor-2447 .elementor-element.elementor-element-e9414f9>.elementor-element-populated {
        padding: 0px 0px 0px 30px;
    }
}

@media(max-width:767px) {
    .elementor-2447 .elementor-element.elementor-element-6171bb2 {
        padding: 5px 15px 5px 15px;
    }
    .elementor-2447 .elementor-element.elementor-element-8984b1a {
        padding: 10px 15px 10px 15px;
    }
    .elementor-2447 .elementor-element.elementor-element-d5f8bbf.elementor-column>.elementor-widget-wrap {
        justify-content: space-between;
    }
    .elementor-2447 .elementor-element.elementor-element-aa69ce4.elementor-column>.elementor-widget-wrap {
        justify-content: space-between;
    }
    .elementor-2447 .elementor-element.elementor-element-01bd41e {
        --icon-box-icon-margin: 0px;
    }
    .elementor-2447 .elementor-element.elementor-element-01bd41e .elementor-icon {
        font-size: 0px;
    }
    .elementor-2447 .elementor-element.elementor-element-01bd41e .elementor-icon-box-description {
        font-size: 13px;
    }
    .elementor-2447 .elementor-element.elementor-element-01bd41e>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-2447 .elementor-element.elementor-element-4040c51 {
        --icon-box-icon-margin: 0px;
    }
    .elementor-2447 .elementor-element.elementor-element-4040c51 .elementor-icon {
        font-size: 0px;
    }
    .elementor-2447 .elementor-element.elementor-element-4040c51 .elementor-icon-box-wrapper {
        text-align: right;
    }
    .elementor-2447 .elementor-element.elementor-element-4040c51 .elementor-icon-box-description {
        font-size: 13px;
    }
    .elementor-2447 .elementor-element.elementor-element-da964ba {
        padding: 10px 15px 10px 15px;
    }
    .elementor-2447 .elementor-element.elementor-element-e9414f9.elementor-column>.elementor-widget-wrap {
        justify-content: space-between;
    }
    .elementor-2447 .elementor-element.elementor-element-e9414f9>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2447 .elementor-element.elementor-element-460dde4 .hfe-site-logo .hfe-site-logo-container img {
        width: 180px;
    }
    .elementor-2447 .elementor-element.elementor-element-460dde4>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}